<div class="card mt-3 ml-3">
    <h2 class="card-header text-center text-muted">
        Recipe Details
    </h2>
    <img src="https://cdn.pixabay.com/photo/2015/12/20/17/11/fish-1101436_960_720.jpg" alt="" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">Recipe Title Here</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque atque tempora, id quasi
            quidem reprehenderit?</p>

        <button id="manageBtn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Manage Recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="manageBtn">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
    </div>
</div>